body{
	width:960px;
	margin:0;
	padding:0;
	background-color: #efb7dd;
}
#face{
	width: 260px;
    height: 280px;
    background: #fbccae;
    r-radius: 100px / 160px;
    -moz-border-radius:100px / 160px; 
    border-radius:50%;
    margin-left: 400px;
    margin-top: 150px;
    border:1px solid black;
    position:absolute;
    z-index:91;
    transform:rotate(-10deg);
    box-shadow: 4px 4px 5px #262626;
}
#hair{
	width:270px;
	height:130px;
	background-color:#594432;
	margin-top:140px;
	margin-left: 380px;
	position:absolute;
    z-index:91;
    transform:rotate(-10deg);
    background-image: linear-gradient(#a37d5c, #594432, #594432);
    box-shadow: 0px 4px 4px #262626;
}
#hair2{
	width:300px;
	height:300px;
	background-color:#594432;
	margin-top:200px;
	margin-left: 380px;
	position:absolute;
	z-index:80;
}
#eye1{
	width:25px;
 	height:25px;
 	border-radius:50%;
 	background:black;
 	margin:10px auto;
 	position:absolute;
	z-index:92;
	margin-top: 300px;
	margin-left:455px;

}
#eye2{
	width:25px;
 	height:25px;
 	border-radius:50%;
 	background:black;
 	margin:10px auto;
 	position:absolute;
	z-index:92;
	margin-top: 280px;
	margin-left:590px;
}
#rondlunette1{
	width:115px;
 	height:115px;
 	border-radius:50%;
 	background:transparent;
 	margin:10px auto;
 	position:absolute;
	z-index:93;
	margin-top: 250px;
	margin-left:403px;
	border:5px solid #181d24;
	box-shadow: 2px 2px 5px grey;
}
#rondlunette2{
	width:115px;
 	height:115px;
 	border-radius:50%;
 	background:transparent;
 	margin:10px auto;
 	position:absolute;
	z-index:93;
	margin-top: 228px;
	margin-left:540px;
	border:5px solid #181d24;
	box-shadow: 2px 2px 5px grey;

}
#jointer{
	width:15px;
	/*height:1px;*/
	transform:rotate(-10deg);
	z-index:92;
	border:2px solid #181d24;
	background:transparent;
	margin-top: 299px;
	margin-left:523px;
	position:absolute;
	box-shadow: 2px 2px 5px grey;
}
#ear1{
	width:70px;
 	height:70px;
 	border-radius:50%;
 	background:#fbccae;
 	margin:10px auto;
 	position:absolute;
	z-index:90;
	margin-top: 295px;
	margin-left:375px;
	border:1px solid black;
	box-shadow: 4px 4px 5px #262626;
}
#ear2{
	width:70px;
 	height:70px;
 	border-radius:50%;
 	background:#fbccae;
 	margin:10px auto;
 	position:absolute;
	z-index:90;
	margin-top: 250px;
	margin-left:625px;
	border:1px solid black;
	box-shadow: 4px 4px 5px #262626;
}
#inear1{
	width:50px;
 	height:50px;
 	border-radius:50%;
 	margin:10px auto;
 	position:absolute;
	z-index:90;
	margin-top: 305px;
	margin-left:385px;
	border:1px solid black;
	background-image: linear-gradient(to bottom right, #f8a26d, #fde0ce, #fde0ce);
}
#inear2{
	width:50px;
 	height:50px;
 	border-radius:50%;
 	background-image: linear-gradient(to bottom left, #f8a26d, #fde0ce, #fde0ce);
 	margin:10px auto;
 	position:absolute;
	z-index:90;
	margin-top: 261px;
	margin-left:633px;
	border:1px solid black;
}
#nose1{
	width:15px;
 	height:5px;
 	border-radius:50%;
 	background: #ecab82;
 	margin:10px auto;
 	position:absolute;
	z-index:95;
	margin-top: 360px;
	margin-left:525px;
	transform:rotate(17deg);
}
#nose2{
	width:15px;
 	height:5px;
 	border-radius:50%;
 	background: #ecab82;
 	margin:10px auto;
 	position:absolute;
	z-index:95;
	margin-top: 355px;
	margin-left:548px;
	transform:rotate(-48deg);
}

#mouth{
	width:80px;
	height:40px;
	background:#ff6666;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	-o-border-radius:100px;
	border-radius:100px;
	border-top-left-radius : 100px 10px;
	border-top-right-radius : 100px 10px;
	position:absolute;
	z-index:95;
	margin-top: 375px;
	margin-left:510px;
	transform:rotate(-10deg);
	border:1px solid black;
}
/*#teeth{
	width:70px;
	height:10px;
	background:white;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	-o-border-radius:100px;
	border-radius:100px;
	border-top-left-radius : 90px 2px;
	border-top-right-radius : 100px 10px;
	position:absolute;
	z-index:95;
	margin-top: 374px;
	margin-left:512px;
	transform:rotate(-10deg);
	box-shadow: 3px 3px 5px #666666;
}*/
#eyelight1{
	width:10px;
 	height:10px;
 	border-radius:50%;
 	background:white;
 	margin:10px auto;
 	position:absolute;
	z-index:95;
	margin-top: 303px;
	margin-left:455px;
}
#eyelight2{
	width:10px;
 	height:10px;
 	border-radius:50%;
 	background:white;
 	margin:10px auto;
 	position:absolute;
	z-index:95;
	margin-top: 282px;
	margin-left:591px;
}
#neck{
	width:30px;
	height:50px;
	background-color:#fbccae;
	border-top-left-radius : 100px 40px;
	border-top-right-radius : 100px 40px;
	border-bottom-left-radius : 100px 40px;
	border-bottom-right-radius : 100px 40px;
	margin-top:410px;
	margin-left:540px;
	position:absolute;
	z-index:87;
	border:1px solid black;
	box-shadow: 4px 4px 5px #262626;
}

#outfits{
	width:130px;
	height:200px;
	background-color:#71c1ad;
	border-top-left-radius : 100px 40px;
	border-top-right-radius : 100px 40px;
	border-bottom-left-radius : 100px 40px;
	border-bottom-right-radius : 100px 40px;
	margin-top:450px;
	margin-left:495px;
	position:absolute;
	z-index:85;
	border:1px solid black;
	box-shadow: 4px 4px 5px #262626;
	background-image: linear-gradient(#71c1ad, #71c1ad, #b8e0d6);

}
#hat1{
	width: 310px;
  	height: 310px;
  	border-radius: 50%;
  	box-shadow: 25px 25px 0 0 #efb7dd;
  	transform:rotate(215deg);
  	margin-top:150px;
	margin-left:380px;
	position:absolute;
	z-index:95;
}
#hat2{
	width:59px;
	height:59px;
	background-color:#efb7dd;
	margin-top:143px;
	margin-left:360px;
	transform:rotate(200deg);
	position:absolute;
	z-index:95;
}
#hat3{
	width:58px;
	height:80px;
	background-color:#efb7dd;
	margin-top:98px;
	margin-left:600px;
	transform:rotate(-50deg);
	position:absolute;
	z-index:95;
}
#hat4{
	width:15px;
	height:40px;
	background-color:#efb7dd;
	margin-top:199px;
	margin-left:675px;
	position:absolute;
	z-index:95;
}
#hat5{
	width:58px;
	height:50px;
	background-color:#efb7dd;
	margin-top:170px;
	margin-left:667px;
	position:absolute;
	z-index:95;
}
#hat6{
	width:38px;
	height:50px;
	background-color:#efb7dd;
	margin-top:180px;
	margin-left:355px;
	position:absolute;
	z-index:95;
}
#hat7{
	position: relative;
  height: 70px;
  width: 300px;
  background: #594432;
  margin-top:440px;
  margin-left:380px;
  	position:absolute;
	z-index:80;
}
#hat7:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 340px;
  height: 80px;
  background-color: #efb7dd;
  right: -5px;
  top: 40px;
}
#hat7:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 300px;
  height: 70px;
  background-color: #594432;
  left: 0;
  top: 27px;
   margin-left:px;
   transform:rotate(3deg);
   box-shadow: 4px 4px 5px #737373;
}
#eyeref1{
	width:10px;
 	height:5px;
 	border-radius:50%;
 	background:grey;
 	margin:10px auto;
 	position:absolute;
	z-index:95;
	margin-top: 304px;
	margin-left:460px;
	transform:rotate(-15deg);
}
#eyeref2{
	width:10px;
 	height:5px;
 	border-radius:50%;
 	background:grey;
 	margin:10px auto;
 	position:absolute;
	z-index:95;
	margin-top: 283px;
	margin-left:596px;
	transform:rotate(-15deg);
}
#chest{
width:55px;
 	height:55px;
 	border-radius:50%;
 	background:#fbccae;
 	margin:10px auto;
 	position:absolute;
	z-index:88;
	margin-top: 445px;
	margin-left:528px;
}



/*	border-bottom: 50px solid #fbccae;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	height: 0;
	width: 30px;
	transform:rotate(180deg);
	margin-top:449px;
	margin-left:528px;
	position:absolute;
	z-index:95;
}*/

#collar1{
	width: 57px;
  	height: 57px;
  	border-radius: 50%;
  	box-shadow: 10px 10px 0 0 #27594c;
  	transform:rotate(120deg);
  	position:absolute;
  	margin-top:443px;
	margin-left:530px;
	z-index:86;
}
#collar2{
	width: 57px;
  	height: 57px;
  	border-radius: 50%;
  	box-shadow: 10px 10px 0 0 #27594c;
  	transform:rotate(330deg);
  	position:absolute;
  	margin-top:443px;
	margin-left:525px;
	z-index:86;
}
	#blush1{
	width:50px;
	height:30px;
	border-radius:50%;
	background:#ffb3d9;
	margin:10px auto;
	position:absolute;
	margin-top: 365px;
	margin-left:450px;
	z-index:92;
	transform:rotate(25deg);
	filter: blur(2px);
	opacity:0.5;
	}

	#blush2{
	width:40px;
	height:30px;
	border-radius:50%;
	background:#ffb3d9;
	margin:10px auto;
	position:absolute;
	margin-top: 330px;
	margin-left:600px;
	z-index:92;
	transform:rotate(-45deg);
	filter: blur(2px);
	opacity:0.5;
	}

#tongue{
width:40px;
 height:10px;
 border-radius:50%;
 background: #b30000;
 margin:10px auto;
 position:absolute;
 margin-top: 402px;
	margin-left:533px;
	z-index:99;
	transform:rotate(-10deg);
filter: blur(3px);
	opacity:2;
}